{% extends "base.html" %}

{% block content %}
<div class="w-[92%] mx-auto">
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere quis explicabo eum amet adipisci laborum sed nihil tempore ab eligendi quod inventore quasi non corporis omnis neque odit iusto, numquam, soluta veritatis unde fuga id quisquam! Ad suscipit corporis quis voluptate in inventore blanditiis eius eveniet, possimus hic tempora eligendi, at, eos consectetur iusto reiciendis odit similique? Reprehenderit, veritatis sint! Fugiat dolorem quisquam voluptatibus beatae accusamus unde, harum quo, ex eius cupiditate, porro perferendis vel in recusandae nisi eveniet laboriosam corporis ratione. Veritatis, facere minima totam error autem nihil necessitatibus eius impedit. Iure tempora ipsa voluptas. Autem tempora suscipit quae.</h1>
</div>
{% endblock content %}
